@font-face {
    font-family: "Nunito Sans Bold";
    src: url('../typography/Nunito-Sans/NunitoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Nunito Sans Semibold";
    src: url('../typography/Nunito-Sans/NunitoSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: "Nunito Sans Regular";
    src: url('../typography/Nunito-Sans/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Open Sans Medium";
    src: url('../typography/Open-Sans/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Rubik Extrabold";
    src: url('../typography/Rubik/Rubik-ExtraBold.ttf') format('truetype')
}